
@{
    ViewBag.Title = "HowItWorks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="g-bg-gray-light-v5">
    <div class="container">
        <img src="~/Content/images/How it works.png" />
     </div>
</section>
<section class="g-pos-rel ">
    <div style="margin-top:100px;"></div>
    <div class="container">
        <div class="g-max-width-250">
            <h2 class="g-font-weight-400 g-mb-30 g-mb-0--md">What Do You Have To Do?</h2>
        </div>

        <!-- Consult -->
        <div class="row align-items-center justify-content-between g-mb-30">
            <div class="col-sm-6 col-lg-3 g-offset-lg-4 g-mb-30">
                <a href="#!" class="btn btn-xxl u-btn-red g-mr-10 g-mb-15">Try Voice Mail API</a>
            </div>

            <div class="col-sm-6 col-lg-4 g-mb-30">
                <div class="g-pos-rel">
                    <img class="img-fluid" src="~/Content/images/img7.jpg" alt="Image Description">
                    <div class="g-font-weight-700 g-font-size-30 g-pos-abs g-top-10 g-left-20 g-left-minus-20--sm">Businesses.</div>
                </div>
            </div>
        </div>
        <!-- End Consult -->
        <!-- Plan -->
        <div class="row align-items-center g-mb-30">
            <div class="col-sm-6 col-lg-3 g-offset-lg-1 order-2 g-mb-30">
                <a href="#!" class="btn btn-xxl u-btn-red g-mr-10 g-mb-15">Enable the skill</a>
            </div>

            <div class="col-sm-6 col-lg-4 g-offset-lg-1 order-1 g-mb-30">
                <div class="g-pos-rel">
                    <img class="img-fluid" src="~/Content/images/user.jpg"  alt="Image Description">
                    <div class="g-font-weight-700 g-font-size-30 g-pos-abs g-top-10 g-left-20 g-left-auto--sm g-right-minus-20--sm">Users.</div>
                </div>
            </div>
        </div>
        <!-- End Plan -->
    </div>
</section>
