
@{
    ViewBag.Title = "PrivacyPolciy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <p>
            At SonicTexture, we are committed to maintaining the trust and confidence of our visitors to our website and users of our apps. In particular, we want you to know that SonicTexture is not in the business of selling, renting or trading email lists with other companies and businesses for marketing purposes. We just don’t do that sort of thing. But just in case you don’t believe us, in this Privacy Policy, we’ve provided lots of detailed information on when and why we collect your personal information, how we use it, the limited conditions under which we may disclose it to others and how we keep it secure.

        </p>
        <p>
        <h2> <i>As a User of the Alexa Device</i></h2>
        <p>
            As part of the registration process for our Daily Planner Alexa Skill, <b>we collect personal information (Email Address Only)</b>. We use that information to match what other organizations and businesses send to us (SonicTexture), for sending of reminders through the Alexa app to you (The User). You the user must have signup with said organizations and businesses sending reminders.  <b>AT NO POINT DO WE SHARE THIS INFORMATION WITH ANYONE.</b>
        </p>
        <p>
        We only store this information while you (The User) keep the skill active, once the skill has been disabled, all data about you is removed within 30 days.

        <p>
            The data that we collect from you (The User) is only stored in the EU, within an encrypted database.

        </p>
        <p>
        We also use this information to check every now and then that you’re happy and satisfied and to updating you when any of our terms and conditions or privacy policy changes. We don't rent or trade email lists with other organizations and businesses.

        <p>
            We use a third-party provider, Amazon, to deliver our reminders through Alexa devices. Amazon gather statistics on usage of Alexa skill which is available to SonicTexture as part of industry standard provided by Amazon, to help us monitor and improve our Daily Planner Skill. For more information, please see Amazon privacy notice (https://www.amazon.co.uk/gp/help/customer/display.html/?nodeId=201909010).

        </p>
        <p>
            You can unsubscribe to the Daily Planner Skill at any time by disabling the skill from within the Alexa App or by emailing our data protection officer at <b>admin@sonictexture.co.uk</b>
        </p>
        <p>
            You are entitled to view, amend, or delete the personal information that we hold. Email your request to our data protection officer at <b>admin@sonictexture.co.uk</b>

        </p>
    </div>
</section>

