
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="g-py-50">
    <div class="container">
        <div class="shortcode-html">
            <!-- Static Process -->
            <div class="row">
                <div class="col-sm-6 col-lg-2 g-mb-60 s-headers">
                    <!-- Static Process -->
                    <div class="text-center">
                        <i class="u-dot-line-v1-2 g-brd-transparent--before g-brd-gray-light-v2--after g-mb-20"> <span class=" active u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span> </i>
                        <h3 class="h5 g-font-weight-600 g-mb-10">Enable the skill for users </h3>
                        <p class="mb-0"></p>
                    </div> <!-- End Static Process -->
                </div>
                <div class="col-sm-6 col-lg-2 g-mb-60 s-headers">
                    <!-- Static Process -->
                    <div class="text-center">
                        <i class="u-dot-line-v1-2 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-20"> <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span> </i>
                        <h3 class="h5 g-font-weight-600 g-mb-10">Let us know about the users </h3>
                        <p class="mb-0"></p>
                    </div> <!-- End Static Process -->
                </div>
                <div class="col-sm-6 col-lg-2 g-mb-60 s-headers">
                    <!-- Static Process -->
                    <div class="text-center">
                        <i class="u-dot-line-v1-2 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-20"> <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span> </i>
                        <h3 class="h5 g-font-weight-600 g-mb-10">Test the Api</h3>
                        <p class="mb-0"></p>
                    </div> <!-- End Static Process -->
                </div>
                <div class="col-sm-6 col-lg-2 g-mb-60 s-headers">
                    <!-- Static Process -->
                    <div class="text-center">
                        <i class="u-dot-line-v1-2 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-20"> <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span> </i>
                        <h3 class="h5 g-font-weight-600 g-mb-10">Create Web Api Client</h3>
                        <p class="mb-0"></p>
                    </div> <!-- End Static Process -->
                </div>
                <div class="col-sm-6 col-lg-3 g-mb-60 s-headers">
                    <!-- Static Process -->
                    <div class="text-center">
                        <i class="u-dot-line-v1-2 g-brd-gray-light-v2--before g-brd-transparent--after g-mb-20"> <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span> </i>
                        <h3 class="h5 g-font-weight-600 g-mb-10">Submit for certification</h3>
                        <p class="mb-0"></p>
                    </div> <!-- End Static Process -->
                </div>
            </div> 

        </div>
    </div>
</section>
<section class="s-steps">
    <div class="container">
        <div class="row step1">
            <div class=" ">
                <ul>
                    <li>
                        <p class="g-font-size-18 mb-0"> Enable the skill <a href="#">daily planner</a> for one ore two users. </p>
                    </li>
                    <li>
                        <p class="g-font-size-18 mb-0"> When you enable the skill first <b>allow access for list write and read</b> an then login with your google account.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="s-steps hide">
    <div class="container">
        <div class="row g-mb-20">
            <div class="col-lg-12">
                <p class="g-font-size-18"><b>Login with your account if you haven't already so we can now who is going to test with these emails.</b></p>
                <p class="g-font-size-18">Add the users emails that you just enabled the skill for.</p>
                <p class="g-font-size-18"> This is so we can give you permissions to test the Api with these email addresses.</p>
            </div>
        </div>
        <div class="row g-py-15">
            <div class="col-lg-12">
                <div class=" form-group g-mb-20">
                    <label class="g-color-gray-dark-v2 g-font-size-13" for="FirstEmail">First User's Email that you just enabled the skill for.</label>
                    <div class="mb-4">
                        <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" data-val="true" data-val-required="The First Email field is required." id="FirstEmail" name="FirstEmail" placeholder="John.doe@gmail.com" type="text" value="">
                        <span class="field-validation-valid text-danger" data-valmsg-for="FirstEmail" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class=" form-group g-mb-20">
                    <label class="g-color-gray-dark-v2 g-font-size-13" for="SecondEmail">Second User's Email that you just enabled the skill for.</label>
                    <div class="mb-4">
                        <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" data-val="true" id="SecondEmail" name="SecondEmail" placeholder="John.doe@gmail.com" type="text" value="">
                        <span class="field-validation-valid text-danger" data-valmsg-for="SecondEmail" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-right">
                        <button id="addTestEmail" class="btn btn-md u-btn-red g-mr-10 g-mb-15">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shortcode-html hide s-testEmail">
                    <div class="g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30" role="alert">
                        <h3 class="g-font-weight-600 s-title">Emails were saved</h3>
                        <p class="mb-0 g-font-size-16 s-emailMessage">
                            Great, you can now to the next step where you can actually send messages to the users that you want to test with.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="s-steps hide">
    <div class="container">
     
        <div class="row g-py-40 ">
            <div class="col-md-6">
                <div class="g-mb-20">
                <label class="g-color-gray-dark-v2 g-font-size-13" for="TestEmail">Enter one of the users that you have enabled the skill for</label>
                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" id="TestEmail"  placeholder="John.doe@gmail.com" type="text">
                <span class="field-validation-valid text-danger" data-valmsg-for="TestEmail" data-valmsg-replace="true"></span>
                </div>   
                <div class="g-mb-20">
                    <label class="g-color-gray-dark-v2 g-font-size-13" for="Message">Enter the message you want to sent to the user</label>

                    <textarea maxlength="256" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" cols="20" data-val="true" data-val-required="The Message field is required." id="Message" name="Message" placeholder="From, Company name, you have an appoitment on ..." rows="12"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="g-py-30">
                    <button id="testMessageApi" class="btn btn-md u-btn-red g-mr-10 g-mb-15">Send message</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shortcode-html hide s-sendEmailMessage">
                    <div class="g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-green-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30" role="alert">
                        <h3 class="g-color-green g-font-weight-600 s-title">Message was sent.</h3>
                        <p class="mb-0 g-font-size-16 s-message">
                           Just ask Alexa, What's on my To-Do list? It might take 20 seconds until the message is delivered.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="s-steps hide">
<div class="container">
    <div class="row bg-info g-rounded-10">
        <h3 class="card-header h5">  Rules</h3><div class=" bg-info text-white">
            <div class="card-block g-pa-15">
                <p>1. A message cannot be longer than 256 characthers.</p>
            </div>
        </div>
    </div>
<div class="row g-py-40">
    <h1>Voice Messaging API Access Token</h1>
    <p>
        The third-party application requires authorization to send messages to the Web API.
        This authorization is obtained with the following API via an HTTPS request, as described.
    </p>
</div>
<div class="row">
    <h3>Request Format</h3>
</div>
<div class="row  ">
    <div class="container u-dropcap-bg g-bg-gray-dark-v1 g-color-white g-rounded-10 g-mr-20 g-mb-10">
        <div class="card card-inverse  g-bg-black  g-brd-black text-white rounded-0">
            <h2 class="card-header h5">
                Http Header
            </h2>

            <div class="card-block g-pa-15">
                <pre><code>GET: /token`
Host : sonictexture.co.uk
Content-Type : application/x-www-form-urlencoded
                        </code></pre>
            </div>
        </div>
    </div>
</div>
<div class="row  ">
    <div class="container u-dropcap-bg g-bg-gray-dark-v1 g-color-white g-rounded-10 g-mr-20 g-mb-10">
        <div class="card card-inverse  g-bg-black  g-brd-black text-white rounded-0">
            <h2 class="card-header h5">
                Request Body
            </h2>
            <div class="card-block g-pa-15">
                <pre><code>grant_type=password&username=(yourUsername)&Password=(yourPassword)</code></pre>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container"> <!-- Table Bordered -->
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead> <tr> <th>Parameter</th> <th class="hidden-sm">Description</th> <th>Example</th></tr> </thead>
                <tbody>
                <tr> <td>grant_type</td> <td class="hidden-sm">Value must be <b>password</b></td> <td>grant_type=password</td> </tr>
                <tr> <td>username</td> <td class="hidden-sm">The email address you logged in with</td> <td>username=john@gmail.com</td> </tr>
                <tr> <td>Password</td> <td class="hidden-sm">the password you logged in with</td> <td>password=*****</td> </tr>
                </tbody> </table>
        </div> <!-- End Table Bordered --> </div>
</div>
<div class="row ">
    <div class="container u-dropcap-bg g-bg-gray-dark-v1 g-color-white g-rounded-10 g-mr-20 g-mb-10">
        <div class="card card-inverse  g-bg-black  g-brd-black text-white rounded-0">
            <h2 class="card-header h5">
                Response Body
            </h2>
            <div class="card-block g-pa-15">
                <pre><code>{
    "access_token": "2GJbyvc5P-9Kgjij7LzWp62LsgR9h9ZgH-H28nwpeJxMqBIwnn2QdzN383O9K_XrZcelZcW22BgiSDHR-icnjVmlIZA9UIEoil",
    "token_type": "bearer",
    "expires_in": 86399
}</code></pre>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <!-- Table Bordered -->
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead> <tr> <th>Parameter</th> <th class="hidden-sm">Description</th> <th>Example</th></tr> </thead>
                <tbody>
                <tr> <td>access_token</td> <td class="hidden-sm">This access token must be used to send a message</td> <td>access_token:2GJbyvc5P-9Kgjij7Lk</td> </tr>
                <tr> <td>expires_in</td> <td class="hidden-sm">The duration in seconds of the access token lifetime. For example, 86399 denotes that the access token expires in one 24 hours from the time the response was generated.</td> <td>"expires_in":86399</td> </tr>
                <tr> <td>token_type</td> <td class="hidden-sm">Only Bearer tokens are supported</td> <td>token_type:Bearer</td> </tr>
                </tbody>
            </table>
        </div> <!-- End Table Bordered -->
    </div>
</div>
<div class="row">
    <h3>Errors</h3>
</div>
<div class="row">
    <div class="container">
        <!-- Table Bordered -->
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead> <tr> <th>Status Code</th> <th class="hidden-sm">Type</th> <th>Description</th></tr> </thead>
                <tbody>
                <tr> <td>400</td> <td class="hidden-sm">INVALID_REQUEST</td> <td>Reason for this failure might be\n "The user name or password is incorrect."\n "unsupported_grant_type"</td> </tr>
                </tbody>
            </table>
        </div> <!-- End Table Bordered -->
    </div>
</div>

<div class="row g-py-40">
    <h1>Send Message API</h1>
    <p>
        IMPORTANT! First you need to get an access token in order to make this request.
        Bellow you can find the documentation on how to send messages to your customers.
        You can implemnet the Web Api Client and test it with the 2 users that you added in the previous steps.
    </p>
</div>
<div class="row">
    <h3>Request Format</h3>
</div>
<div class="row  ">
    <div class="container u-dropcap-bg g-bg-gray-dark-v1 g-color-white g-rounded-10 g-mr-20 g-mb-10">
        <div class="card card-inverse  g-bg-black  g-brd-black text-white rounded-0">
            <h2 class="card-header h5">
                Http Header
            </h2>

            <div class="card-block g-pa-15">
                <pre><code>POST: /message`
Host : sonictexture.co.uk
Content-Type : application/json
                        </code></pre>
            </div>
        </div>
    </div>
</div>
<div class="row  ">
    <div class="container u-dropcap-bg g-bg-gray-dark-v1 g-color-white g-rounded-10 g-mr-20 g-mb-10">
        <div class="card card-inverse  g-bg-black  g-brd-black text-white rounded-0">
            <h2 class="card-header h5">
                Request Body
            </h2>
            <div class="card-block g-pa-15">
                <pre><code>[  
   {  
      "email":"john.doe@gmail.com",
      "message":"From Ariplane company. You have booked a flight with us. don't forget to do your checkin "
   },
                                                             {  
      "email":"john.doe@gmail.com",
      "message":"From Ariplane company. You have booked a flight with us. don't forget to do your checkin "
   }
]</code></pre>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <!-- Table Bordered -->
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead> <tr> <th>Parameter</th> <th class="hidden-sm">Description</th> <th>Example</th></tr> </thead>
                <tbody>
                <tr> <td>email</td> <td class="hidden-sm">Customer email that you own and you want to send a message to.</td> <td>"email":"john.doe@gmail.com"</td> </tr>
                <tr> <td>message</td> <td class="hidden-sm">The message you want to send to your customers</td> <td>"message":"From Ariplane company...."</td> </tr>
                </tbody>
            </table>
        </div> <!-- End Table Bordered -->
    </div>
</div>
<div class="row ">
    <div class="container u-dropcap-bg g-bg-gray-dark-v1 g-color-white g-rounded-10 g-mr-20 g-mb-10">
        <div class="card card-inverse  g-bg-black  g-brd-black text-white rounded-0">
            <h2 class="card-header h5">
                Response Body
            </h2>
            <div class="card-block g-pa-15">
                <pre><code>[
    {
        "Email": "admin@sonictexture.co.uk",
        "HasMessageBeenSent": true,
        "FailureReason": "null"
    },
    {
        "Email": "irinasmt9@gmail.com",
        "HasMessageBeenSent": false,
        "FailureReason": "email address does not exit in our system"
    }
]</code></pre>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <!-- Table Bordered -->
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead> <tr> <th>Parameter</th> <th class="hidden-sm">Description</th> <th>Example</th></tr> </thead>
                <tbody>
                <tr> <td>Email</td> <td class="hidden-sm">The email address you send your message to</td> <td> "Email": "john@gmail.com",</td> </tr>
                <tr> <td>HasMessageBeenSent</td> <td class="hidden-sm">Tells you if the message has been send to the user or not. If it has been sent then this value will be true. If it hasn't been sent this value will be false.</td> <td>"HasMessageBeenSent": true,</td> </tr>
                <tr> <td>FailureReason</td> <td class="hidden-sm">If the message has been sent this will be null. If the message hasn't been sent this will tell you the failure reason.</td> <td>"FailureReason": "email address does not exit in our system"</td> </tr>
                </tbody>
            </table>
        </div> <!-- End Table Bordered -->
    </div>
</div>
<div class="row">
    <h3>Errors</h3>
</div>
<div class="row">
    <div class="container">
        <!-- Table Bordered -->
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead> <tr> <th>Status Code</th> <th class="hidden-sm">Type</th> <th>Description</th></tr> </thead>
                <tbody>
                <tr> <td>401</td> <td class="hidden-sm">UNAUTHORIZED REQUEST</td> <td>Reason for this failure might be The access token has expired or is missing</td> </tr>
                <tr> <td>400</td> <td class="hidden-sm">Bad Request</td> <td>The object sent to the request is in incorect format or is missing. </td> </tr>
                <tr> <td>415</td> <td class="hidden-sm">Unsupported MediaType Exception</td> <td>The content type of the request must be of type application/json</td> </tr>
                <tr> <td>500</td> <td class="hidden-sm">Internal Server Error</td> <td>You can try again.</td> </tr>
                </tbody>
            </table>
        </div> <!-- End Table Bordered -->
    </div>
</div>
</div>
</section>
<section class="s-steps hide">
    <div class="container">
        <div class="row">
            <h3 style="color: red">@ViewBag.Message</h3>
        </div>
        <div class="row bg-info g-rounded-10 g-my-40">
            <h3 class="card-header h5"> Rules</h3>
            <div class=" bg-info text-white">
                <div class="card-block g-pa-15">
                    <p>1. A business cannot send more than one message per day to an user.</p>
                    <p>2. A message cannot be longer than 256 characthers.</p>
                    <p>3. The message should not contain advertising content. Only reminders, appoitments content.</p>
                    <p>4. The message should not contain profanity or obscenity content </p>
                    <p>4. The message should not contain profanity or obscenity content </p>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Submit for certification </h3>
        </div>
        <div class="row justify-content-center g-my-40">
            <div class="col-md-12">
                <div class=" form-group g-mb-20">
                    <label class="g-color-gray-dark-v2 g-font-size-13" for="CompanyName">Business Name</label>
                    <div class="mb-4">
                        <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" id="CompanyName" placeholder="Company name" type="text" value="">
                    </div>
                </div>
                <div class=" form-group g-mb-20">
                    <label class="g-color-gray-dark-v2 g-font-size-13" for="CompanyEmail">Business Email. Insert the email that you logged in with</label>
                    <div class="mb-4">
                        <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" id="CompanyEmail" placeholder="Company email" type="text" value="">
                    </div>
                </div>
                <div class=" form-group g-mb-20">
                    <label class="g-color-gray-dark-v2 g-font-size-13" for="UseCase">What is your intended use case for messages?*</label>
                    <div class="mb-4">
                        <textarea maxlength="256" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" cols="10" id="UseCase" rows="6"></textarea>
                    </div>
                </div>
                <div class=" form-group g-mb-20">
                    <label class="g-color-gray-dark-v2 g-font-size-13" for="UseCase">Please provide sample text for your notification(s).*</label>
                    <div class="mb-4">
                        <textarea maxlength="256" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" cols="10" id="MessageSample" rows="6"></textarea>
                    </div>
                </div>
                <button id="submitForCertification" class="btn btn-md u-btn-red g-mr-10 g-mb-15">Save</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shortcode-html hide s-sendCertification">
                    <div class="g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-green-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30" role="alert">
                        <h3 class="g-color-green g-font-weight-600 s-title">Thank you! </h3>
                        <p class="mb-0 g-font-size-16 s-message">
                           We will have a look over the details you sent to us and come back to you via email. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/testApi.js"></script>
