
<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <link rel="shortcut icon" href="~/main.png" alt ="SonicTexture">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="~/Content/vendor/style.css">
    <link rel="stylesheet" href="~/Content/vendor/style-pro.css">
    <link rel="stylesheet" href="~/Content/vendor/style-hs.css">
    <link rel="stylesheet" href="~/Content/vendor/animate.css">
    <link rel="stylesheet" href="~/Content/vendor/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/Content/vendor/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Content/vendor/hs.megamenu.css">
    <link rel="stylesheet" href="~/Content/vendor/hamburgers.min.css">


    <link rel="stylesheet" href="~/Content/unify/unify-core.css">
    <link rel="stylesheet" href="~/Content/unify/unify-components.css">
    <link rel="stylesheet" href="~/Content/unify/unify-globals.css">
    <link rel="stylesheet" href="~/Content/unify/custom.css">
</head>

<body class="g-overflow-x-hidden">
    <header id="js-header" class="u-header u-header--static">
        <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
            <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
                <div class="container">
                    <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                        <span class="hamburger hamburger--slider">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </span>
                    </button>
                    <a href="/Home" class="navbar-brand">
                        <img class="logo" src="~/main.png" alt="Sonic Texture"> SonicTexture
                    </a>
                    <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
                        <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                            <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut" data-max-width="60%" data-position="left">
                                <a id="mega-menu-home" class="nav-link g-py-7 g-px-0" href="/Home/Demos" aria-haspopup="true" aria-expanded="false">
                                    Demos
                                </a>
                            </li>
                            <!-- End Blog -->
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                <a id="nav-link--blog" class="nav-link g-py-7 g-px-0" href="/Home/Contact" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--blog">Contact</a>
                            </li>
                            <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut" data-max-width="60%" data-position="left">
                                <a id="mega-menu-home" class="nav-link g-py-7 g-px-0" href="/Home/TestApi" aria-haspopup="true" aria-expanded="false">
                                   Test Api
                                </a>
                            </li>
                        </ul>
                    </div>
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
        </div>
    </header>

    <main>
        @RenderBody()
        <hr />
        <footer class="g-bg-bluegray">
            <div class="container g-pt-100 g-pb-60">
                <div class="row justify-content-start g-mb-50 g-mb-70--md">
                    <div class="col-md-4 col-lg-3 g-mb-30">
                        <h2 class="h3 g-color-white g-font-weight-600 g-mb-15">Contacts</h2>
                        <ul class="list-unstyled">
                            <li class="media mb-4">
                                <div class="media-body g-color-white-opacity-0_9">
                                    <br>United Kingdom, London
                                </div>
                            </li>
                            <li class="media mb-4">
                                 <div class="media-body g-color-white-opacity-0_9">
                                   admin@sonictexture.co.uk
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 g-mb-30">
                        <ul class="list-unstyled">
                            <li class="my-3">
                                <a class="d-inline-block g-color-white-opacity-0_9 g-color-primary--hover rounded g-text-underline--none--hover g-transition-0_5 g-pl-7--hover" href="/Home/PrivacyPolicy">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-5 col-lg-4 ml-auto g-mb-30">
                        <div class="g-mb-25">
                            <h2 class="h3 g-color-white g-font-weight-600">Newsletter</h2>
                            <p class="g-color-white-opacity-0_7">Do not miss out the latest news and skills that we created.</p>
                        </div>
                        <div class="input-group u-shadow-v19 g-rounded-50">
                            <input class="form-control g-color-gray-dark-v4 g-placeholder-gray-dark-v3 border-0 g-rounded-left-50 g-px-20" type="email" placeholder="Enter email" aria-label="Enter email">
                            <div class="input-group-append g-bg-white border-0 g-rounded-right-50">
                                <button class="btn u-btn-primary g-width-40 g-height-40 rounded-circle" type="submit">
                                    <i class="fa fa-send"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
               
                <p class="g-color-white-opacity-0_7 g-font-size-13">2018 &copy; SonicTexture. All Rights Reserved.</p>
            </div>
        </footer>
        <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
            <i class="down"></i>
        </a>
    </main>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    
    
  
    @RenderSection("scripts", required: false)
</body>
</html>
